<!--
author: W3layouts
author URL: http://RJDesigns.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>We Love Pizza | Home :: RJDesign</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pizzeria Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="/public/app.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/public/app.js"></script>
<style>
.add-to-cart-link{
  background-color: #FFFFFF;
  padding: 5px 3px;
}
.add-to-cart-link:hover{
  background-color: #ddd;
  padding: 5px 3px;
}
</style>
</head>
<body>
