<div id="dataClass" class="cart"></div>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
								<h1><a href="/">Pizzamond <span><i class="fa fa-cutlery" aria-hidden="true"></i>spicy food</span></a></h1>
							</div>
							<div class="w3_menu">
							<div class="agileits_w3layouts_banner_info">
				<div class="w3_agile_phone">
				<p><i class="fa fa-phone" aria-hidden="true"></i> +123 234 233</p>
			</div>

							</div>
								<div class="mobile-nav-button">
									<div class="mobile-nav-button__line"></div>
									<div class="mobile-nav-button__line"></div>
									<div class="mobile-nav-button__line"></div>
								</div>
								<nav class="mobile-menu">
										<ul>
											<li><a href="/" class="active" >Home</a></li>
											<li><a href="#about" class="scroll" >About</a></li>
											<li><a href="#ourmenu" class="scroll" >Our menu</a></li>
											<li><a href="/cart/items" class="" >Checkout</a></li>
										</ul>
								</nav>
						</div>


					<div class="clearfix"></div>
			    </div>

			<div class="w3l_banner_info row" style="margin-top: 80px; margin-bottom: 80px;">

					<div class="col-md-6 banner-right-agile">
							<div class="banner-text">

                <h1>Cart</h1>
                <table id="cartTable">
                  <tr>
                    <th>Pizza Name</th>
                    <th style="width: 100%">Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                  </tr>
                </table>
                <div id="cartContainer"></div>
							</div>
					</div>
			</div>
		</div>
	</div>
<!-- //banner -->
