<!-- banner -->
<script>
	app.redirectToLoginPage();
</script>

<div id="dataClass" class="pizzamenus"></div>
	<div class="banner">
		<div class="container">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
								<h1><a href="/">Pizzeria <span><i class="fa fa-cutlery" aria-hidden="true"></i>spicy food</span></a></h1>
							</div>
							<div class="w3_menu">
								<nav class="mobile-menu">
									<ul>
										<li><a href="/" class="active scroll" >Home</a></li>
										<li><a href="#ourmenu" class="scroll" >Our menu</a></li>
										<li><a href="/cart/items" class="" >Checkout</a></li>
										<li><a href="#" class="" id="logoutButton">Logout</a></li>
									</ul>
								</nav>
						</div>


					<div class="clearfix"></div>
			    </div>

			<div class="w3l_banner_info">
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="wthree_banner_info_grid">

								<h3>FOOD DELIVERY SERVICE</h3>
								<p>Welcome to Pizza World,where you can order your favorite pizza at affordable price. We are glad to offer you the best pizza in the area to everyone.</p>


								</div>
							</li>

						</ul>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- /menu -->
<div class="w3-food-menu" id="ourmenu">
	<div class="w3-menu-head">
	<h2>Our menu</h2>
	</div>
	<div class="">
		<a class="checkout-button" href="/cart/items">Checkout now!!!</a>
	</div>
	<div class="container" id="menuListing">

	</div>
	<div class="">
		<a class="checkout-button" href="/cart/items">Checkout now!!!</a>
	</div>
	</div>
<!-- //menu -->
<!-- gallery -->


	<!-- //main -->

				<div class="col-md-6 w3-agile-services-right">

						<img src="images/1431.jpg" alt="" />
					</div>					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
</div>
<!-- //services -->
