<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agile_header">
						<div class="w3_agileits_logo">
							<h1><a href="/">Pizzeria <span><i class="fa fa-cutlery" aria-hidden="true"></i>spicy food</span></a></h1>
							</div>
							<div class="w3_menu">
								<nav class="mobile-menu">
									<ul>
										<li><a href="/" class="active scroll" >Home</a></li>
										<li><a href="#ourmenu" class="scroll" >Our menu</a></li>
										<li><a href="/cart/items" class="" >Checkout</a></li>
										<li><a href="#" class="" id="logoutButton">Logout</a></li>
									</ul>
								</nav>
							</div>


					<div class="clearfix"></div>
			    </div>

			<div class="w3l_banner_info row" style="margin-top: 80px; margin-bottom: 80px;">

					<div class="col-md-6 banner-right-agile">
							<div class="banner-text">
								<h3>Register</h3>
								<form id="register" action="/api/users" method="POST">
									<input type="text" placeholder="Your Name" name="name" required="" />
									<input type="email" placeholder="Your Email" name="email" required="" />
									<input type="text" placeholder="Your Address" name="address" required="" />
									<input type="password" placeholder="Your password" name="password" required="" />
									<span class="text text-danger formError"></span>
									<span class="text text-danger formSuccess"></span>
									<input type="submit" value="Submit">
									<span><a href="/login" class="cta" style="margin-top: 24px;">Login to existing account</a></span>
								</form>
							</div>
					</div>
			</div>
		</div>
	</div>
<!-- //banner -->
